In [3]:
#Import scikit-learn dataset library
import pandas as pd

#Load dataset
loan_approval_df = pd.read_csv("focused_synthetic_loan_data.csv")

In [6]:
X_loan = loan_approval_df[['Age','EmploymentStatus','EducationLevel','LoanAmount','LoanCurrency','LoanPurpose','LoanDuration','TotalLoanCollatoralAmount','LoanStartDate','InstallmentDuration','BaseInterestRate','InterestRate']]
y_loan = loan_approval_df['LoanApproved']

In [7]:
X_loan['LoanCurrency'] = X_loan['LoanCurrency'].apply(lambda x: 1 if x == "eth" else -1)
X_loan['LoanStartDate'] = pd.to_datetime(X_loan['LoanStartDate'])
X_loan['LoanStartDate'] = X_loan['LoanStartDate'].astype('int64')

/tmp/ipykernel_45149/4131166232.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_loan['LoanCurrency'] = X_loan['LoanCurrency'].apply(lambda x: 1 if x == "eth" else -1)
/tmp/ipykernel_45149/4131166232.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_loan['LoanStartDate'] = pd.to_datetime(X_loan['LoanStartDate'])
/tmp/ipykernel_45149/4131166232.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_loan['LoanStartDate'] = X_loan['LoanStartDate'].astype('int64')

In [8]:
X_loan.loc[X_loan['EmploymentStatus'] == "Employed", 'EmploymentStatus'] = 0
X_loan.loc[X_loan['EmploymentStatus'] == "Self-Employed", 'EmploymentStatus'] = 1
X_loan.loc[X_loan['EmploymentStatus'] == "Student", 'EmploymentStatus'] = 2
X_loan.loc[X_loan['EmploymentStatus'] == "Unemployed", 'EmploymentStatus'] = 3

In [9]:
X_loan.loc[X_loan['EducationLevel'] == "No Education", 'EducationLevel'] = 0
X_loan.loc[X_loan['EducationLevel'] == "Secondary", 'EducationLevel'] = 1
X_loan.loc[X_loan['EducationLevel'] == "Bachelor", 'EducationLevel'] = 2
X_loan.loc[X_loan['EducationLevel'] == "Master", 'EducationLevel'] = 3
X_loan.loc[X_loan['EducationLevel'] == "Doctorate", 'EducationLevel'] = 4

In [10]:
X_loan.loc[X_loan['LoanPurpose'] == "Property", 'LoanPurpose'] = 0
X_loan.loc[X_loan['LoanPurpose'] == "Automobile", 'LoanPurpose'] = 1
X_loan.loc[X_loan['LoanPurpose'] == "Education", 'LoanPurpose'] = 2
X_loan.loc[X_loan['LoanPurpose'] == "Debt Consolidation", 'LoanPurpose'] = 3
X_loan.loc[X_loan['LoanPurpose'] == "Medical", 'LoanPurpose'] = 4
X_loan.loc[X_loan['LoanPurpose'] == "Personal", 'LoanPurpose'] = 5
X_loan.loc[X_loan['LoanPurpose'] == "Other", 'LoanPurpose'] = 6

In [11]:
X_loan

,Age,EmploymentStatus,EducationLevel,LoanAmount,LoanCurrency,LoanPurpose,LoanDuration,TotalLoanCollatoralAmount,LoanStartDate,InstallmentDuration,BaseInterestRate,InterestRate
0,45,0,1,17678,-1,0,60,34198,1514764800000000000,22,0.100088,0.078271
1,31,0,0,10885,-1,0,48,61580,1514851200000000000,36,0.082517,0.073881
2,46,1,1,26737,-1,1,96,37808,1514937600000000000,58,0.135248,0.125067
3,58,0,0,8975,1,6,60,74209,1515024000000000000,55,0.087806,0.076379
4,38,0,3,18971,-1,3,48,1518,1515110400000000000,35,0.091036,0.087916
...,...,...,...,...,...,...,...,...,...,...,...,...
1995,54,0,0,29412,1,1,96,37428,1687132800000000000,44,0.140645,0.137513
1996,40,0,1,15695,1,3,36,144677,1687219200000000000,16,0.078165,0.061417
1997,25,0,3,7652,-1,2,36,174367,1687305600000000000,5,0.067818,0.069609
1998,37,0,0,41930,-1,1,48,48122,1687392000000000000,46,0.109492,0.084830
1999,34,0,2,14515,-1,0,60,58502,1687478400000000000,12,0.094950,0.094870

In [12]:
# Import train_test_split function
from sklearn.model_selection import train_test_split

# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X_loan, y_loan, test_size=0.3,random_state=109) # 70% training and 30% test

In [13]:
from sklearn.ensemble import RandomForestClassifier

from sklearn import metrics

rfc = RandomForestClassifier(n_estimators = 7,
                             criterion = 'entropy',
                             random_state = 7)

rfc.fit(X_train, y_train)
y_pred = rfc.predict(X_train)
print("Accuracy Score of ", rfc.__class__.__name__, "=", 100*metrics.accuracy_score(y_train, y_pred))

Accuracy Score of  RandomForestClassifier = 97.21428571428572

In [14]:
import joblib

joblib.dump(rfc, "./random_forest.joblib")

['./random_forest.joblib']